extends layout

block content
  h1 Temporary Posts

  form(action="" method='POST')
    label Title 
        input(type='text' name='title')
    label Content 
        textarea(name='content')
    button Create Blog