/* HEADER */
header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

/* BLOG HOME PAGE */
.home-content {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.home-individualBlog {
  padding: 1rem;
  border: 1px solid blue;
}
.home-individualBlog a {
  text-decoration: none;
  color: black;
}
.individualBlog-text {
  overflow: scroll;
}

/* LOGIN PAGE */
.login-form {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.login-form form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.login-form .form-buttons {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
.Login .error-message {
  display: flex;
  justify-content: center;
  color: red;
}
.Login .error-message p {
  margin: 0;
}

/* POSTS PAGE */
.posts-allBlogs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.posts-individualBlog {
  padding: 1rem;
  border: 1px solid red;
}
.posts-individualBlog a {
  text-decoration: none;
  color: black;
}

/* INDIVIDUAL POSTS PAGE */
.individualBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.post-comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid black
}
.individualBlog-allComments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.individualBlog-individualComment {
  border: 1px solid blueviolet;
  padding: 1rem;
}

/* CREATE BLOG PAGE */
.createBlog-page {
  display: none;
}
.createBlog-page #create-blog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.createBlog-page .form-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

/* UPDATE POST PAGE */
.updatePost-page {
  display: none;
}
