body {
  margin: 0;
}
button:hover {
  cursor: pointer;;
}
img:hover {
  cursor: pointer;
}

/* FORMS */
form {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.form-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  background-image: radial-gradient(circle, #ffffff, #fafafa, #f5f4f5, #f1eff0, #eceaea, #eceaea, #eceaea, #eceaea, #f1eff0, #f5f4f5, #fafafa, #ffffff);
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  box-shadow: 0px 0px 10px #050709;
}
.navbar .navbar-buttons {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-buttons .navbar-buttons-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.navbar #blogBtn {
  border: none;
  background: none;
}
.navbar #blogBtnImg {
  width:80px;
}
.navbar #blogBtnImg:hover {
  cursor: pointer;
}

/* NON NAVBAR CONTAINER */
.non-navbar-container {
  margin-top: 133px; /* 117px is the height of the navbar + 16px/1rem margin */
  margin-bottom: 100px;
}

/* HEADER */
header {
  /* Platinum: #E5E4E2 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-image: radial-gradient(circle, #ffffff, #fafafa, #f5f4f5, #f1eff0, #eceaea, #eceaea, #eceaea, #eceaea, #f1eff0, #f5f4f5, #fafafa, #ffffff);
  box-shadow: 0px 0px 10px #050709;
}

/* BLOG HOME PAGE */
.home-content {
  padding: 1rem 1rem 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.home-individualBlog {
  padding: 1rem;
  box-shadow: -5px 5px 10px #050709;
  background-image: radial-gradient(circle, #ffffff, #fafafa, #f5f4f5, #f1eff0, #eceaea, #eceaea, #eceaea, #eceaea, #f1eff0, #f5f4f5, #fafafa, #ffffff);
}
.home-individualBlog .admin-buttons {
  display: flex;
  justify-content: space-between;
}
.home-individualBlog a {
  text-decoration: none;
  color: black;
}
.individualBlog-title {
  font-weight: 600;
  text-align: center;
}
#individualBlog-text {
  text-align: center;
}
.individualBlog-date {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 1rem;
}

/* LOGIN PAGE */
.login-page {
  display: none;
}
.login-page .error-message {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: 600;
}

/* POSTS PAGE */
.posts-allBlogs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.posts-individualBlog {
  padding: 1rem;
  border: 1px solid red;
}
.posts-individualBlog a {
  text-decoration: none;
  color: black;
}

/* INDIVIDUAL POSTS PAGE */
.individualBlog {
  padding: 2rem;
  margin: 1rem;
  box-shadow: -5px 5px 10px #050709;
  background-image: radial-gradient(circle, #ffffff, #fafafa, #f5f4f5, #f1eff0, #eceaea, #eceaea, #eceaea, #eceaea, #f1eff0, #f5f4f5, #fafafa, #ffffff);
}
.individualBlog .individualBlog-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-comment-form {
  margin: 0 1rem 1rem 1rem;
  box-shadow: -5px 5px 10px #050709;
  background-image: radial-gradient(circle, #ffffff, #fafafa, #f5f4f5, #f1eff0, #eceaea, #eceaea, #eceaea, #eceaea, #f1eff0, #f5f4f5, #fafafa, #ffffff);
}
.individualBlog-allComments {
  width: 100%;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.individualBlog-allComments #commentsTitle {
  margin: 0;
}
.individualBlog-individualComment .deleteCommentBtn-div {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  width: 100%;
}
.individualBlog-individualComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 1rem;
}

/* CREATE BLOG PAGE */
.createBlog-page {
  display: none;
}

/* UPDATE POST PAGE */
.updatePost-page {
  display: none;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  box-shadow: 0px 0px 10px #050709;
  background-image: radial-gradient(circle, #ffffff, #fafafa, #f5f4f5, #f1eff0, #eceaea, #eceaea, #eceaea, #eceaea, #f1eff0, #f5f4f5, #fafafa, #ffffff);
}
.footer .credits-div {
  display: flex;
  width: 48%;
  justify-content: center;
  font-style: italic;
}
.footer .credits-div a {
  text-decoration: none;
  color: black;
}
.footer .github-div {
  display: flex;
  width: 52%;
  justify-content: flex-start;
}
.footer .github-div #githubImg:hover {
  animation: rotate 0.4s linear;
}
@keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  50%{
      transform: rotate(180deg);
  }
  100%{
      transform: rotate(360deg);
  }
}